@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.name_logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Racing Sans One", cursive;
  font-size: 50px;
}

.name_logo > span {
  color: red;
}

.summonerNameInput {
    height: 50px;
    width: 560px;
    font-size: 20px;
    font-weight: bold;
}

.posBtnWrapper {
    display: flex;
    height: fit-content;
}

.posBtnBorder {
    padding: 5px;
    height: fit-content;
    width: fit-content;
}

.addDesc {
    font-size: 15px;
}

.add_btn {
    width: 106.22px;
    height: fit-content;
    margin: 0px 5px 0px 5px; 
    font-size: 20px !important;
    font-weight: bold !important;
}

.addSpinner {
    width: 20px !important;
    height: 20px !important;
}




