body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginContainer{
    width: 100%;
    height: 100vh;
    padding-top: 30vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: fixed;
}

.loginModal {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70vh;
}
