@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.name_logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Racing Sans One", cursive;
  font-size: 50px;
}

.name_logo > span {
  color: red;
}

.nameInput {
    height: 60px;
    width: 390px;
    font-size: 20px;
    font-weight: bold;
    margin: 12.5px 10px;
}




