.MessageForm {
  
  button {
    float: right;
    color: #94C2ED;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 20px; 
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
  }
}
