.MessageListItem {
    .wrapper {
        display: flex;
    }

    .myWrapper {
        justify-content: flex-end;
    }

    .notMyWrapper {
        justify-content: flex-start;
    }

    .chat {
        width: fit-content;
        height: fit-content;
        border: 0.3px solid #EBEDF0;
        border-radius: 10px;
        margin: 10px;
        padding: 8px;
    }

    .myChat {
        background-color: #FFFF93;
    }

    .notMyChat {
        background-color: white;
    }

    .chatTime {
        font-size: 12px;
        color: gray;
        margin: 10px 0px;
        display: flex;
        align-items: flex-end;
    }
}
